@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


nav {
  position: fixed;
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  z-index: 2;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  padding: 6px 12px;
  transform: translateY(-100px);
}

nav p,
footer p {
  color: #fff;
  font-size: 12px;
}

nav > div {
  flex: 1;
}



/* Header */
.company-name,
.company-slogan {
  display: flex;
  justify-content: start;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.company-slogan {
  display: flex;
  flex-direction: column;
  /* gap: 0.1em; */
  justify-content: flex-end;
  align-items: end;
}



footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.items {
  position: fixed;
  width: 30%;
  height: 100vh;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.item {
  width: max-content;
  padding: 0.25em 0;
  cursor: pointer;
  transform: translateX(-150px);
}

.item p {
  color: #fff;
  padding: 6px 12px;
  font-weight: lighter;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  backdrop-filter: blur(20px);
  transition: 0.3s;
}

.item:hover p {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.25);
}


.preview {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  color: #fff;
}

.preview-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  color: #fff;
  opacity: 0;
}
.preview-title h1 {
  font-weight: 300;
  letter-spacing: 0.01em;
  font-size: 5em;
}

.preview-photographer p, .preview-description p {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.01em;
}



/* Variant 1 */
.preview.variant-1 .preview-img {
  position: absolute;
  bottom: 10%;
  right: 0%;
  margin: 2em;
  width: 300px;
  height: auto;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.preview.variant-1 .preview-title {
  position: absolute;
  top: 45%;
  left: 15%;
  opacity: 0;
  max-width: 50%;
}

.preview.variant-1 .preview-photographer {
  position: absolute;
  bottom: 25%;
  right: 40%;
  opacity: 0;
}

.preview.variant-1 .preview-description {
  width: 320px;
  position: absolute;
  right: 30%;
  top: 25%;
  opacity: 0;
}


/* Variant 2 */
.preview.variant-2 .preview-img {
  position: absolute;
  top: 10%;
  right: 5%;
  margin: 2em;
  width: 300px;
  height: auto;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.preview.variant-2 .preview-title {
  position: absolute;
  bottom: 30%;
  left: 20%;
  max-width: 50%;
}

.preview.variant-2 .preview-photographer {
  position: absolute;
  top: 25%;
  left: 25%;
}


.preview.variant-2 .preview-description {
  width: 300px;
  position: absolute;
  right: 10%;
  bottom: 15%;
}



/* Variant 3 */
.preview.variant-3 .preview-img {
  position: absolute;
  bottom: 10%;
  left: 15%;
  margin: 2em;
  width: 300px;
  height: auto;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.preview.variant-3 .preview-title {
  position: absolute;
  bottom: 40%;
  right: 10%;
  max-width: 50%;
}

.preview.variant-3 .preview-photographer {
  position: absolute;
  bottom: 20%;
  right: 30%;
}

.preview.variant-3 .preview-description {
  width: 300px;
  position: absolute;
  left: 20%;
  top: 15%;
}



/* Variant Media Queries */
@media only screen and (max-width: 1300px) {
    /* All Variants */
    .preview-title h1 {
      font-size: 4em;
    }
    .preview.variant-1 .preview-img,
    .preview.variant-2 .preview-img,
    .preview.variant-3 .preview-img
     {
      width: 250px;
    }
    /* Variant 1 */

    /* Variant 2 */

    /* Variant 3 */
    .preview.variant-3 .preview-title {
      left: 15%;
      bottom: 60%;
    }
    .preview.variant-3 .preview-description {
      left: 50%;
      top: 40%;
      width: 30%;
    }

}

@media only screen and (max-width: 1024px) {
  /* All Variants */
  .preview-title h1 {
    font-size: 3.5em;
  }
  .preview.variant-1 .preview-img,
  .preview.variant-2 .preview-img,
  .preview.variant-3 .preview-img
   {
    width: 220px;
  }
  /* Variant 1 */
  .preview.variant-1 .preview-title {
    top: 45%;
    left: 18%;
    max-width: 70%;
  }

  /* Variant 2 */
  .preview.variant-2 .preview-title {
    bottom: 25%;
    left: 20%;
    max-width: 60%;
  }

  /* Variant 3 */
  .preview.variant-3 .preview-title {
    left: 18%;
    bottom: 60%;
    max-width: 70%
  }
  .preview.variant-3 .preview-description {
    left: 50%;
    top: 43%;
    width: 35%;
  }
}

@media only screen and (max-width: 767px) {
  /* All Variants */
  .preview-title h1 {
    font-size: 2.5em;
  }
  .preview.variant-1 .preview-img,
  .preview.variant-2 .preview-img,
  .preview.variant-3 .preview-img
   {
    width: 180px;
  }
  /* Variant 1 */
  .preview.variant-1 .preview-title {
    top: 42%;
    left: 170px;
    max-width: 70%;
  }
  .preview.variant-1 .preview-description {
    left: 10%;
    top: 135px;
  }
  .preview.variant-1 .preview-photographer {
    left: 50%;
    top: 250px;
    width: 100%;
  }

  /* Variant 2 */
  .preview.variant-2 .preview-title {
    bottom: 28%;
    left: 135px;
    max-width: 100%;
  }

  /* Variant 3 */
  .preview.variant-3 .preview-title {
    top: 150px;
    left: 18%;
  }
  .preview.variant-3 .preview-description {
    left: 80px;
    top: 78%;
    width: 60%;
  }
  .preview.variant-3 .preview-photographer {
    bottom: 65%;
    left: 50%;
  }
  .preview.variant-3 .preview-img {
    bottom: 30%;
    left: 50%;
  }
}


@media only screen and (max-width: 475px) {
  .items {
    gap: 10px;
    padding-left: 15px;
  }

  footer {
    padding: 15px
  }

  .company-name {
    font-size: 15px;
  }


  /* All Variants */
  .preview-title h1 {
    font-size: 8vw;
  }
  .preview.variant-1 .preview-img,
  .preview.variant-2 .preview-img,
  .preview.variant-3 .preview-img
   {
    width: 180px;
  }
  /* Variant 1 */
  .preview.variant-1 .preview-title {
    top: 35%;
    left: 135px;
    max-width: 70%;
  }
  .preview.variant-1 .preview-description {
    left: 2%;
    top: 135px;
    width: 80%;
  }
  .preview.variant-1 .preview-photographer {
    left: 50%;
    top: 45%;
    width: 50%;
  }

  /* Variant 2 */
  .preview.variant-2 .preview-title {
    bottom: 28%;
    left: 135px;
    max-width: 100%;
  }


  /* Variant 3 */
  .preview.variant-3 .preview-title {
    top: 150px;
    left: 12%;
    width: 80%;
  }
  .preview.variant-3 .preview-description {
    left: 0;
    top: 78%;
    width: 90%;
  }
  .preview.variant-3 .preview-photographer {
    bottom: 70%;
    left: 40%;
    width: 100%;
  }
  .preview.variant-3 .preview-img {
    bottom: 30%;
    left: 33%;
  }
}





/* Footer */
.concept-design {
  display: flex;
  flex-direction: column;
  align-items: end;
  transform: translateX(200px);
}

.collection {
  transform: translateY(100px);
}